In [1]:
class mahasiswa:
    jumlah = 0
    def __init__(mhs, nama, prodi, NIM):
        mhs.prodi = prodi
        mhs.nama = nama
        mhs.nim = NIM
        mahasiswa.jumlah += 1

    def tampil_jumlah(mhs):
        print("Jumlah mahasiswa %d : "), mahasiswa.jumlah

    def tampil_mahasiswa(mhs):
        print("nama :", mhs.nama, ", NIM : ", mhs.nim, "prodi :", mhs.prodi)

mhs1 = mahasiswa("iwan", "SI", 150016001)
mhs2 = mahasiswa("riyadi", "Math", 160016002)
mhs3 = mahasiswa("yanto", "Fisika", 140016003)
mhs4 = mahasiswa("tri", "Biologi", 130016004)
mahasiswa.jumlah

4

In [2]:
mhs1.tampil_mahasiswa()

nama : iwan , NIM :  150016001 prodi : SI

In [3]:
mhs2.tampil_mahasiswa()

nama : riyadi , NIM :  160016002 prodi : Math

In [4]:
mhs3.tampil_mahasiswa()

nama : yanto , NIM :  140016003 prodi : Fisika

In [5]:
mhs4.tampil_mahasiswa()

nama : tri , NIM :  130016004 prodi : Biologi